<div class="fit-parent container" style="position: relative;">
    <div class="current-image-container" style="position:absolute; top: 0; max-height: 100%; max-width: 50%">
        <img *ngIf="selectedImage" src={{selectedImage}} class="fit-parent current-image"/>
    </div>
    <div class="image-list-container" style="position:absolute; top: 0; max-height:100%; max-width:30%;">
        <div *ngFor="let image of images" class="image-list-item">
                <img src={{image}} class="fit-parent thumbnail" (click)="changeSelectedImage(image)"/>
        </div>
    </div>
</div>