/* .fit-parent{
    max-width:100%;
    max-height:100%;
}

:host{
    max-width:100%;
    max-height:100%;
    display: inline-block;
} */

/* .image-list-container{
    overflow-y: auto;
    overflow-x: hidden;
    max-width:30%;
    display:inline-block;
} */
/* .current-image-container{
    display: inline-block;
    max-width:70%;
} */
.image-list-item{
    /* display: inline-block; */
}

/* .thumbnail{
    max-width: 150px;
    margin-right: 10px;
} */